#nav-icon4 {
    display: none;
}

@media(min-width:1025px) {
    .show-desktop {
        display: block !important;
    }

    .show-mobile {
        display: none !important;
    }
}


@media(max-width:1024px) {
    body {padding-bottom:60px;}

    .bottom-contact {
        display: block;
        position: fixed;
        bottom: 0;
        padding-bottom: 10px;
        background: #f9f9f9 !important;
        width: 100%;
        z-index: 99;
        box-shadow: 2px 1px 9px #dedede;
        border-top: 1px solid #eaeaea;
    }

        .bottom-contact ul li {
            display: inline-block;
            text-align: center;
            min-width: 33%;
        }

            .bottom-contact ul li img {
                width: 45px;
                margin-top: 10px;
                margin-bottom: 5px;
            }
            .bottom-contact ul li span {
                color: #000;
            }
    .section-texthome img {max-width:100% !important;height:auto !important;}
    .head .logo img {
        max-height:60px;
    }
    .head {
        width: 100%;
        z-index: 9999;
        background: #fff;
        padding: 5px;
    }


    .fix_head {
        padding-top: 0px;
    }

    .show-desktop {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    #menuOverlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 888;
        opacity: .6;
    }

    #nav-icon4 {
        width: 30px;
        height: 25px;
        left: 20px;
        top: 50%;
        position: absolute;
        -webkit-transform: rotate(0deg) translateY(-50%);
        -moz-transform: rotate(0deg) translateY(-50%);
        -o-transform: rotate(0deg) translateY(-50%);
        transform: rotate(0deg) translateY(-50%);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        display: block;
        z-index: 99;
    }

        #nav-icon4 span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: #f3a725;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

            #nav-icon4 span:nth-child(1) {
                top: 0;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

            #nav-icon4 span:nth-child(2) {
                top: 7px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

            #nav-icon4 span:nth-child(3) {
                top: 15px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }

        #nav-icon4.open span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: -3px;
            left: 0;
        }

        #nav-icon4.open span:nth-child(2) {
            width: 0;
            opacity: 0;
        }

        #nav-icon4.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 17px;
            left: 0;
        }

        .nav-bar {margin-top:10px;}
    .nav-main {
        background: #fff;
        position: fixed;
        left: -320px;
        width: 320px;
        max-height: 100%;
        height: 100vh;
        padding-bottom: 56px;
        overflow: scroll;
        z-index: 99999;
    }

        .nav-main li {
            display: block;
            text-align: left;
            border-bottom: solid 1px #F3F3F3;
            position: relative;
        }

            .nav-main li:last-child {
                border-bottom: 0;
            }

            .nav-main li a {
                margin: 0;
                padding: 10px 10px;
                border: 0;
                display: block;
                outline: 0;
                text-decoration: none;
                font-size: 15px;
                font-weight: 700;
                line-height: 22px;
            }

        .nav-main > li i {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 42px;
            display: block;
            text-align: center;
            padding-top: 12px;
            z-index: 9999;
            color:#fff;
        }

        .nav-main li .mobile-dropdown {
            display: none;
            background-color: #f8f8f8;
            position: relative;
            width: 100%;
        }

            .nav-main li .mobile-dropdown li > a {
                border-bottom: solid #fff 1px;
                padding: 10px 15px 10px 40px;
            }

            .nav-main li .mobile-dropdown > a:last-child {
                border: 0;
            }

    .head .logo {
        display: block;
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    .suggest-service{
        display: none;
    }
}

@media (max-width: 767px) {
    .slider-content-search {
        position: relative;
        background: #fff;
        color: #fff;
    }

        .slider-content-search h2 {
            color: #1e1e1e;
        }

    .frm-search {
        border: 1px solid #ccc;
    }

    .frm-search input[type=text] {
        color: #1e1e1e;
    }
}

@media (max-width:480px) {
    .news-item-2-id .thumb {width:100%;margin-right:0;margin-bottom:15px;float:none;}
    .nav-top {float:none;text-align:center;}
    .nav-top>li{float:none;display:block;text-align:center;margin-left:0;}
    .nav-top>li.mxh {float:none;}
    ul.header-share li {float:none;display:inline-block;}
    .nav-top>li.tk {float:none;display:block;}
    .head .logo img {
        max-height: 50px;
    }
}
