<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>
    <add key="license" value="ZLDj0krRZOn54gXqDxlXSsTXnP4VRL35" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="sConnection" connectionString="Data Source=localhost;Initial Catalog=Micheal_Spa;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <machineKey validationKey="35245677A59B9B86E2E798CDF3108407B509D5BCF11D494D87915AB168487A93D958791AB9069C79636063746B2573123C8CCFD1888009D7EA46DA88E2DFB4F2" decryptionKey="E55C555794549BC7A95D5174B3D20A7A0AF25BDD45C7C8120C8E62127590E4E7" validation="SHA1" decryption="AES" />
    <customErrors mode="Off"></customErrors>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="122880" />
    <pages>
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
  <rewriter>
    <rewrite url="/google(.+).html" to="/google$1.html" processing="stop" />
    <rewrite url="/.well-known/acme-challenge/(.+)" to="/.well-known/acme-challenge/$1" processing="stop" />
    
    <rewrite url="/sitemap.xml" to="/sitemap.aspx" processing="stop" />
    <rewrite url="^(/.+(\.gif|\.png|\.jpg|\.jpeg|\.swf|\.ico|\.pdf|\.ttf|\.woff|\.css|\.js|\.svg|\.axd|\.ashx|\.aspx|\.xml)(\?.+)?)$" to="$1" processing="stop" />
    <rewrite url="~/content/(.+)" to="~/content/$1" processing="stop" />
    <rewrite url="/admin/(.+)" to="/admin/$1" processing="stop" />
    <!--<rewrite url="~/fonts/(.+)" to="~/fonts/$1" processing="stop"/>-->
    <!--<rewrite url="~/images/(.+)" to="~/images/$1" processing="stop"/>-->
    <!--<rewrite url="~/duan/(.+)" to="~/duan/$1" processing="stop"/>-->
    <!--<rewrite url="~/styles/(.+)" to="~/styles/$1" processing="stop" />
    <rewrite url="~/scripts/(.+)" to="~/scripts/$1" processing="stop" />-->
    
    <rewrite url="/(.+)-id(.+).html.(.+)" to="/Default.aspx?id=$2&amp;t=$1&amp;$3" processing="stop"/>
    <rewrite url="/(.+)-id(.+).html" to="/Default.aspx?id=$2&amp;t=$1" processing="stop"/>
    <rewrite url="/(.+).html.(.+)" to="/Default.aspx?id=$1&amp;$2" processing="stop" />
    <rewrite url="/(.+).html" to="/Default.aspx?id=$1" processing="stop" />
    <rewrite url="/(.+)" to="/Default.aspx?id=$1" processing="stop" />

  </rewriter>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>